/* Arrows Start */
/* .arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	margin-bottom: 5px;
	padding: 3px;
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
} */
/* Arrows End */

/* .popup {
	position: relative;
	width: 63vw;
	display: flex;
	cursor: pointer;
}
.cont{
	padding-left: 1em;
	padding-top: 0.5em;
	padding-right: 1em;
	transition: 0.05s;
}
.dropch{
	float: left;
	padding-right: 5px;
	margin-bottom: 6em;
	font-size: 250%;
	text-align: justify;
	line-height: 1;
	margin: 0.0em 0.1em 0.0em 0;
}
.drw{
	border-radius: 50px;
	width: 25vw;
	transition: 0.4s;
}
.bor{
	display: flex;
	background: #fff;
	border: 10px solid #000;
	border-radius: 60px;
	width: 25vw;
	cursor: pointer;
	transition: 0.5s;
}
.bor:hover{
	width: 99%;
}
.bor:hover .drw{
	border-radius: 50px 0 0 50px;
}
.cont{
	visibility: hidden;
}
.bor:hover .cont{
	visibility: visible;
	animation: fadeIn 1s;
}
@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
} */

*{
    box-sizing: border-box;
}
body{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
	margin: 0;
    padding-left: 30px;
	padding-right: 30px;
}
/* .nimg{
	border-radius: 0px;
} */
img{
	border-radius: 50%;
}
.containerh{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.containerh .hexagon{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 50px 30px 30px;
	border: 10px solid #000;
    border-radius: 50%;
}
.containerh .hexagon::before{
    content: '';
    position: absolute;
    bottom: -70px;
    width: 100%;
    height: 60px;
    /* background: radial-gradient(rgba(0,0,0,0.15),transparent, transparent); */
    border-radius: 50%;
    transition: 0.5s;
}
.containerh .hexagon:hover::before{
    opacity: 0.8;
    transform: scale(0.8);
}
.containerh .hexagon .content{
    position: absolute;
    font-size: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #000000;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%); */
    transition: 0.5s;
}
.containerh .hexagon:hover .content{
	left: -27.5px;
    transform: translateY(-27.5px);
	width: 120%;
	height: 120%;
	z-index: 2;
}
.containerh .hexagon .content img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.containerh .hexagon .content .text{
    position: absolute;
    font-family: sans-serif;
    font-size: 150%;
    line-height: normal;
    text-shadow:
		0 0 10px#000,
		0 0 10px#000,
		0 0 10px#000,
		0 0 10px#000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    background: linear-gradient(45deg,rgb(255, 153, 0), rgba(255, 255, 255, 0.5));
	border: 10px solid #000;
    border-radius: 50%;
    color: #fff;
    opacity: 0;
    transition: 0.5s;
}
.containerh .hexagon:hover .content .text{
    font-size: 150%;
    opacity: 1;
}