*{
    box-sizing: border-box;
}
body{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    margin: 0;
}
.containerh{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.containerh .hexagon{
    position: relative;
    width: 290px;
    height: 290px;
    margin: 50px 20px 70px;
}
.containerh .hexagon::before{
    content: '';
    position: absolute;
    bottom: -70px;
    width: 100%;
    height: 60px;
    background: radial-gradient(rgba(0,0,0,0.15),transparent, transparent);
    border-radius: 50%;
    transition: 0.5s;
}
.containerh .hexagon:hover::before{
    opacity: 0.8;
    transform: scale(0.8);
}
.containerh .hexagon .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    transition: 0.5s;
}
.containerh .hexagon:hover .content{
    transform: translateY(-30px);
}
.containerh .hexagon .content img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.containerh .hexagon .content .text{
    position: absolute;
    font-family: sans-serif;
    line-height: normal;
    text-shadow:
		0 0 10px#000,
		0 0 10px#000,
		0 0 10px#000,
		0 0 10px#000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    background: linear-gradient(45deg,blue, rgba(244, 208, 3, 0.5));
    color: #fff;
    opacity: 0;
    transition: 0.5s;
}
.containerh .hexagon:hover .content .text{
    opacity: 1;
}