.popup {
	position: relative;
	width: 560px;
	display: flex;
	cursor: pointer;
}
.popup .popuptext {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60%;
	visibility: hidden;
	font-size: 1em;
	width: 21em;
	/* top: -10em; */
	left: 50%;
	transform: translate(-50%,35%);
	color: #fff;
	text-align: justify;
	margin-top: 0rem;
	padding: 5px;
	position: absolute;
	z-index: 1;
	pointer-events: none;
}
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 0.75s;
	animation: fadeIn 0.75s;
}
@-webkit-keyframes fadeIn {
	from {opacity: 0;} 
	to {opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}
.imop{opacity: 75%;}
.imop:hover{filter: brightness(15%);}