
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat";
}
h1{
	color:white;
}
body{
	background-image:url(https://static.vecteezy.com/system/resources/previews/005/117/646/non_2x/gradient-blue-background-with-mandala-gold-ornament-and-place-under-your-text-vector.jpg);
	background-size: cover; 
	/*background-position: center;*/
	background-attachment: fixed;
}
section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-color: #1e1f26;*/
}
.container {
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
}
.left1 {
  width: 50%;
  height: 600px;
  background: url(https://media-cdn.tripadvisor.com/media/photo-s/06/67/9b/3d/bodhi-tree.jpg)
    no-repeat center / cover;
  border-radius: 8px;
}
.left2 {
  width: 50%;
  height: 600px;
  background: url(https://i1.wp.com/historyflame.com/wp-content/uploads/2021/02/vishnupad-temple.jpg?fit=1200%2C900&ssl=1)
    no-repeat center / cover;
  border-radius: 8px;
}
.left3 {
  width: 50%;
  height: 600px;
  background: url(https://www.patnabeats.com/wp-content/uploads/2019/06/images-4-1.jpeg)
    no-repeat center / cover;
  border-radius: 8px;
}
.right {
  width: 50%;
  min-height: 400px;
  background-color:#cc9900;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: white;
  margin-left: -150px;
}
.right h1 {
  font-size: 40px;
  font-weight: lighter;
}
.right p {
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
}
.right button {
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: 20px 30px;
  display: inline-block;
  letter-spacing: 2px;
  font-family: "Montserrat";
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
  }
  .left {
    width: 100%;
    height: 400px;
  }
  .right {
    width: 90%;
    margin: 0;
    margin-top: -100px;
  }
}

