.boxgal {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial;
}
/* The grid: Four equal columns that floats next to each other */
.columngal {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.columngal img {
  opacity: 0.8; 
  cursor: pointer; 
}

.columngal img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.rowgal:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.containergal {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}
/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}